.home {
  .features {
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;

    &.dark {
      background-color: #0d084d;

      h1 {
        color: #fff !important;
      }

      p {
        color: #fff !important;
        margin-bottom: 1.25rem !important;
      }

      .title {
        color: #fff !important;
        font-weight: 300 !important;
        font-size: 0.9rem !important;
      }

      img {
        width: 100%;
      }

      button {
        background-color: #1dbf37;
        color: #fff;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        margin-top: 1.25rem;
        border: none;
        outline: none;
        width: max-content;
      }
    }

    main {
      width: 1400px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5rem;
      .item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &:first-child {
          flex: 2;
        }

        &:last-child {
          flex: 3;
          background-color: #000;
        }
        h1 {
          font-weight: 500;
          margin-bottom: 0.75rem;
        }
        p {
          font-size: 1.1rem;
          font-weight: 300;
          color: gray;
          line-height: 1.75rem;
          letter-spacing: 1px;
        }
        .title {
          display: flex;
          align-items: center;
          gap: 0.75rem;
          font-weight: 500;
          font-size: 1.1rem;
          color: gray;

          img {
            height: 1.5rem;
            width: 1.5rem;
          }
        }

        video {
          width: 720px;
        }
      }
    }
  }
}
