.catCard {
  width: 252px;
  height: 344px;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .desc {
    position: absolute;
    font-weight: 300;
    top: 1rem;
    left: 1rem;
  }

  .title {
    position: absolute;
    top: 3rem;
    left: 1rem;
    font-weight: 500;
    font-size: 1.5rem;
  }
}
